body{
    background-color: lightseagreen;
}
h1{
    text-align: center;
    
}
#bloco1{
    background-color: rgba(255, 255, 255, 0.548);
    width: 300px;
    
    text-align: cente;
}
p{
    width: 300px;
}
#res{
    
}